.navbar,
body {
    background-color: black;
}

.navbar {
    font-size: 18px;
    border-bottom: 1px solid ;
}

#nav-donate-btn {
    background-color: #AD5B8C;
}


.site-footer {
    background-color: #AD5B8C;
}

.carousel-item img,
#about-cover-img {
    filter: brightness(50%);
}

.carousel-caption h1 {
    font-size: 3rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}

.carousel-caption a,
.card-body .btn {
    background-color: #A8730F;
    font-size: 1.2rem;
}

@media only screen and (max-width: 450px) {

    .carousel-caption h1 {
        font-size: 1.75rem;
    }
    
    .carousel-caption a {
        background-color: #A8730F;
        font-size: 0.75rem;
    }
    
}

#missionStatement {
    background-color: #A8730F;
    color: white;
}

hr {
    border-top: 1px solid rgba(255,255,255,0.5);
}

#email-submit-btn {
    background-color: #AD5B8C;
}

.event-artist-name,
.education-title,
.modal-title,
.about-page-header{
    color: #AD5B8C; 
}

.buy-ticket-btn,
.submit-btn {
    background-color: #A8730F;
}

#concert-series-text,
#r-winebar-text,
#porch-concert-text {
    font-size: 1.25rem;
}

#r-winebar-text i {
    font-size: 2.5rem;
}

.modal-content {
    background-color: black;
    color: white;
}

#headingOne,
#headingTwo,
#headingThree,
#headingFour {
    background-color: #A8730F;
}



