.navbar,
body {
    background-color: black;
}

.navbar {
    font-size: 18px;
    border-bottom: 1px solid ;
}

#nav-donate-btn {
    background-color: #AD5B8C;
}


.site-footer {
    background-color: #AD5B8C;
}

.carousel-item img {
    filter: brightness(50%);
}

.carousel-caption h1 {
    font-size: 3rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}

.carousel-caption a {
    background-color: #A8730F;
    font-size: 1.2rem;
}

#missionStatement {
    background-color: #A8730F;
    color: white;
}

hr {
    border-top: 1px solid rgba(255,255,255,0.5);
}

#email-submit-btn {
    background-color: #AD5B8C;
}

#event-artist-name{
    color: #AD5B8C; 
}

#buy-ticket-btn {
    background-color: #A8730F;
}